name: CI Pipeline

on:
  push:
    branches:
      - main
    tags:
      - '*'
  pull_request:
    branches:
      - '*'
  schedule:
    - cron: '15 7 * * *'  # Nightly build at 7:15 AM UTC
  workflow_dispatch:      # Enables manual triggering

jobs:
  ci:
    name: ${{ matrix.config.platform }} - ${{ matrix.task }}
    runs-on: ${{ matrix.config.runner }}

    strategy:
      matrix:
        config:
          - platform: linux-amd64
            runner: ubuntu-latest
          - platform: linux-aarch64
            runner: ubuntu-24.04-arm
        task: [buildgcc, buildgcc0, buildclang, buildclang0, test, cov]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4  # Updated to latest version
        with:
          fetch-depth: 0

      - name: Check linux version
        run: uname -a

      - name: ${{ matrix.task }}
        run: ./.ci/${{ matrix.task }}
        env:
          PLATFORM: ${{ matrix.config.platform }}
